<mat-grid-list cols="4" rowHeight="2:.7" color="primary">
  <mat-grid-tile>
    <mat-selection-list style="width: 80%!important; margin: auto" #shoe [multiple]=false>
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-selection-list style="width: 80%!important; margin: auto" #shoe [multiple]=false>
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-selection-list style="width: 80%!important; margin: auto" #shoe [multiple]=false>
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-selection-list style="width: 80%!important; margin: auto" #shoe [multiple]=false>
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

  </mat-grid-tile>

</mat-grid-list>
