<app-nav-bar></app-nav-bar>

<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="20"
  [slides]="slides.length"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="true"

  orientation="ltr"
>

  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>


</mat-carousel>


<div style="width: 70%; margin: auto;">
  <h2>ACTIVIDADES</h2>
  <div class="h2_border"></div>


  <mat-carousel

    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="40"
    slides="2"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    style="padding-left: 60px!important;padding-right: 60px!important;"
    [useMouseWheel]="false"
    orientation="ltr"
  >

    <!--  <mat-carousel-slide-->
    <!--    #matCarouselSlide-->
    <!--    *ngFor="let slide of slides; let i = index"-->
    <!--    [image]="slide.image"-->
    <!--    overlayColor="#00000040"-->
    <!--    [hideOverlay]="false"-->
    <!--  ></mat-carousel-slide>-->
    <mat-carousel-slide
      [image]=""
      overlayColor="#000000" [hideOverlay]="true"
    >
      <mat-grid-list cols="3" rowHeight="1:1.2">
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>
    </mat-carousel-slide>

    <mat-carousel-slide
      [image]=""
      overlayColor="#000000" [hideOverlay]="true"
    >
      <mat-grid-list cols="3" rowHeight="1:1.2">
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_01.jpg" class="imgCard">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. </p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>

    </mat-carousel-slide>


  </mat-carousel>
</div>

<div style="width: 70%; margin: auto;">
  <h2>AGENDA</h2>
  <div class="h2_border"></div>


  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="30"
    slides="5"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >

    <!--  <mat-carousel-slide-->
    <!--    #matCarouselSlide-->
    <!--    *ngFor="let slide of slides; let i = index"-->
    <!--    [image]="slide.image"-->
    <!--    overlayColor="#00000040"-->
    <!--    [hideOverlay]="false"-->
    <!--  ></mat-carousel-slide>-->
    <mat-carousel-slide
      [image]=""
      overlayColor="#c1c1c1" [hideOverlay]="true"
    >
      <mat-grid-list cols="4" rowHeight="1:1.2">
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/calendar_icon.jpg" class="imgCard2">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/calendar_icon.jpg" class="imgCard2">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_02.jpg" class="imgCard2">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 90%;height: 95%">
            <img src="../../assets/card_02.jpg" class="imgCard2">

            <div class="card_content">
              <label class="fecha_card">14 DICIEMBRE 15HS</label>
              <br>
              <br>
              <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s.</p>
            </div>

            <button mat-raised-button color="primary" class="btn_readmore"
                    routerLink="/detAct">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>

    </mat-carousel-slide>
  </mat-carousel>
</div>


<div style="width: 70%; margin: auto;">
  <h2>OTRA LISTA ADICIONAL</h2>
  <div class="h2_border"></div>


  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="5"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >

    <!--  <mat-carousel-slide-->
    <!--    #matCarouselSlide-->
    <!--    *ngFor="let slide of slides; let i = index"-->
    <!--    [image]="slide.image"-->
    <!--    overlayColor="#00000040"-->
    <!--    [hideOverlay]="false"-->
    <!--  ></mat-carousel-slide>-->
    <mat-carousel-slide
      [image]=""
      overlayColor="#ffffff" [hideOverlay]="true"
    >
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile>
          <mat-card style="width: 80%;height: 90%">Simple card
            <button mat-raised-button color="primary" class="btn_readmore">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 80%;height: 90%">Simple card
            <button mat-raised-button color="primary" class="btn_readmore">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 80%;height: 90%">Simple card
            <button mat-raised-button color="primary" class="btn_readmore">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card style="width: 80%;height: 90%">Simple card
            <button mat-raised-button color="primary" class="btn_readmore">{{valueTextButton}}</button>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-carousel-slide>
  </mat-carousel>
</div>

<!--<div class=""-->
<!--     style="width: 500px!important; margin: 0;-->
<!--            position: fixed;-->
<!--            top: 70%;-->
<!--            -ms-transform: translateY(-30%);-->
<!--            transform: translateY(-30%);">-->
<!--  <div class="example-button-container">-->
<!--    <button mat-fab style="background-color: mediumblue" aria-label="Example icon button with a delete icon">-->
<!--      <mat-icon style="color: white">facebook</mat-icon>-->

<!--    </button>-->
<!--  </div>-->
<!--  <div class="example-button-container">-->
<!--    <button mat-fab style="background-color: forestgreen" aria-label="Example icon button with a bookmark icon">-->
<!--      <mat-icon><img src="assets/whatsapp.png"/></mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="example-button-container">-->
<!--    <button mat-fab color="warn" aria-label="Example icon button with a home icon">-->
<!--      <mat-icon>home</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="example-button-container">-->
<!--    <button mat-fab disabled aria-label="Example icon button with a heart icon">-->
<!--      <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
<app-footer></app-footer>
