<mat-card style="width: 80%;height: auto; padding: 2%">


  <form class="example-form" style="width: 90%!important; max-width: 90%!important; padding: 36px!important;">
    <h2>RELLENAR FORMULARIO</h2>
    <div class="h2_border"></div>
    <mat-form-field class="example-full-width">
      <mat-label>Compañia (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Direccion 1</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Direccion 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Ciudad</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Codigo Postal</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary" class="btn_readmore" (click)="onClickSendForm()">Enviar</button>

  </form>
</mat-card>
<app-footer></app-footer>
