<style>

  .footer-primary-color {
    color: white;

  }

  .center {
    bottom: 0;
    margin: auto 0 !important;
  }
</style>
<div
  class="footer-primary-color ">
  <div class="row container-fluid ">
    <div class="col-sm-4 center" style="margin: auto!important;">
      <br>
      <div class="col-sm-12">
        <iframe
          class="col-sm-12"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7581.353098163875!2d-77.03624123367126!3d-12.060589191757284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8db1e539667%3A0x4f45538aa07bda29!2sCercado%20de%20Lima!5e0!3m2!1ses!2spe!4v1614645684242!5m2!1ses!2spe"
          height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


        <mat-list role="list">

          <mat-list-item role="listitem">Direccion :

            <span
              style="position: absolute;right: 8px; top: 35px;  color: #c1c1c1"> {{dataContancto.direccion}}
                  </span>
          </mat-list-item>
          <br>

          <mat-list-item role="listitem">Telefono :

            <span
              style="position: absolute;right: 8px; top: 35px;  color: #c1c1c1"> {{dataContancto.telefono}}
                  </span>

          </mat-list-item>
          <mat-list-item role="listitem">Email :
            <span
              style="position: absolute;right: 8px; top: 35px;  color: #c1c1c1"> {{dataContancto.email}}
                  </span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-sm-4 center" style="margin: auto!important;">
      Current Version: 0.0.1

    </div>
    <div class="col-sm-4 center" style="margin: auto!important;">
      Powered by PJ Developers ©2020.

    </div>
  </div>
  <br>
  <br>
</div>


