/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;

}

.btn_readmore {
  position: absolute !important;
  right: 15px !important;
  bottom: 15px !important;
}


mat-grid-tile-footer {
  background: white;
}


H2 {
  font-size: 30px !important;
  padding: 5px !important;
  margin-bottom: 0 !important;
  margin-top: 30px !important;
}

.h2_border {
  border-bottom-color: brown;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 4px !important;
  width: 50px !important;
  z-index: 1119999;
  margin-bottom: 20px;
}

mat-card:hover {
  box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 5px 16px -3px rgba(0, 0, 0, 1);
}

mat-card {
  margin: 0 !important;
  padding: 0 !important;
}

.card_content {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.fecha_card {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  padding: 8px;
  float: right;
}

.imgCard {
  height: auto;
  width: 100% !important;
}

.imgCard2 {
  height: 45%;
  width: 100% !important;
}

mat-grid-tile {
  color: white !important;
  font-weight: bold !important;
}


.footer-primary-color {
  background-color: #673ab7 !important;
}

.example-tooltip-background {
  background: #00be41 !important;
}

.example-tooltip-red {
  background: #d40000 !important;
}
