<div class="row">
  <div class="col-sm-8 offset-sm-2 card_about_content p-2">
    <mat-card class="card_item_about">

      <h2 style=" text-align: center;">DESCRIPCION QUIENES SOMOS</h2>
      <!--            <img src="{{item.urlDecode}}" alt="" class="img_round" width="100%" *ngIf="item.urlDecode">-->

      <mat-card-content style="padding: 16px">

        <mat-divider></mat-divider>
        <p class="p-4">
          <button mat-icon-button style="position: absolute;right: 8px"
                  (click)="editData('DESC_P','data_page_ab')">
            <mat-icon>edit</mat-icon>
          </button>
          {{descripcionPage}}
          <br>

        </p>
      </mat-card-content>

    </mat-card>
  </div>


  <div class="col-sm-6 card_about_content p-2">
    <mat-card class="card_item_about">

      <h2 style=" text-align: center;">MISIÓN</h2>
      <!--            <img src="{{item.urlDecode}}" alt="" class="img_round" width="100%" *ngIf="item.urlDecode">-->

      <mat-card-content style="padding: 16px">

        <mat-card-title>
          <div>
            <button mat-icon-button style="position: absolute;right: 8px" (click)="editData('TIT','mision')">
              <mat-icon>edit</mat-icon>
            </button>
            {{mision["titulo"]}}
          </div>


        </mat-card-title>
        <br>
        <mat-divider></mat-divider>
        <p class="p-4">
          <button mat-icon-button style="position: absolute;right: 8px" (click)="editData('DESC','mision')">
            <mat-icon>edit</mat-icon>
          </button>
          {{mision["descripcion"]}}
          <br>

        </p>
      </mat-card-content>

    </mat-card>
  </div>

  <div class="col-sm-6 card_about_content p-2">
    <mat-card class="card_item_about">

      <h2 style=" text-align: center;">VISIÓN</h2>
      <!--            <img src="{{item.urlDecode}}" alt="" class="img_round" width="100%" *ngIf="item.urlDecode">-->
      <mat-card-content style="padding: 16px">
        <mat-card-title>
          <button mat-icon-button style="position: absolute;right: 8px" (click)="editData('TIT','vision')">
            <mat-icon>edit</mat-icon>
          </button>
          {{vision["titulo"]}}
        </mat-card-title>
        <br>
        <mat-divider></mat-divider>
        <p class="p-4">
          <button mat-icon-button style="position: absolute;right: 8px" (click)="editData('DESC','vision')">
            <mat-icon>edit</mat-icon>
          </button>
          {{vision["descripcion"]}}
        </p>
      </mat-card-content>

    </mat-card>
  </div>

</div>
